.Burger {
    width: 70%;
    margin: auto;
    padding: 3%;
    height: 250px;
    /* overflow-y: scroll; */
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

@media (min-width: 1000px) and (min-height: 700px){
    .Burger{
        width: 700px;
        height: 600px;
    }
}

@media (min-width: 600px) and (min-height: 401px){
    .Burger{
        width: 450px;
        height: 400px;
        margin-top: 40px;
        
    }
}

@media (min-width: 600px) and (min-height: 400px){
    .Burger{
        width: 600px;
        height: 400px;
        padding: 50px;
        
    }
}