.BuildControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

}

.BuildControl button{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #22223b;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
}

.BuildControl button:disabled {
    background-color: #C7C6C6;
    border: 1px solid #7E7365;
    color: #4a4e69;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #C7C6C6;
    color: #4a4e69;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #22223b;
    color: white;
}

.BuildControl .More {
    background-color: #22223b;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #4a4e69;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #4a4e69;
    color: white;
}